body {
            font-family: Arial, Helvetica, sans-serif;}
            * {box-sizing: border-box;}
        input {
            background-color: #ddd ;
            width: 50%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
            display: all ;
        }
        #name {
            border: none ;
            display: all ;
        }
        #email {
            border: none ;
            display: all ;
        }
        #txt {
            display: all ;
        }
        #txt2 {
            display: all ;
        }
        #send {
              background-color: #4CAF50;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              cursor: pointer;
              width: 25%;
              opacity: 0.9;
              display: all;
        }
        #send:hover {
              opacity:1;
        }
        #error{
         color: red;
        }
        div{
            margin-top: 50px ; 
        }
        #myimg {
            visibility: hidden ;
            height: 150px ;
            width: 75px ;
        }